@import "../partials/variables";
@import "../partials/mixins";
@import "../globals.scss";



.nav {
    background-color: $color-bg-dark;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    @extend .container;

}


.mainNav {

    background-color: none;
    text-transform: uppercase;
    padding: {
        top: 1rem;
        bottom: 1rem;
    }

    // padding: 1rem 0;
    
    @include flexo(nowrap, row, space-between, center);
}



.leftDiv {
    flex: 50%;
    // padding: {
    //     top: 1rem;
    //     bottom: 1rem;
    // }

    font: {
        size: clamp(2rem, 2.3vw, 3rem);
        weight: 700;
    }
    color: $color-primary;

    //nested
    span{
        color: rgb(228, 228, 228);

    }
}

.rightDiv {
    flex: 40%;
    @media (max-width: $screen-tablet) {
        display: none;
        
    }

    @media (max-width: $screen-medium) {
        flex: 70%;
    }

    @include flexo(wrap, row, space-between, center);

    p {
        color: $color-muted;

        &:hover{
            color: $color-primary;
            cursor: pointer;
        }
    }
}